<h1 mat-dialog-title>{{ data.action }} Employee</h1>

<div mat-dialog-content *ngIf="data.action === 'Add' || data.action === 'Edit'">
  <form class="example-form" (ngSubmit)="onSubmit(employeeForm.value)" #employeeForm="ngForm">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
				<input 
				matInput [hidden]="true"
				[(ngModel)]="data._id" name="_id"
				#_id="ngModel"
			  />
          <!-- Employee Name -->
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="First Name"
			  [(ngModel)]="data.first_name" name="first_name"
			  #first_name="ngModel"
              required
            />
          </mat-form-field>
        </td>
        <td>
          <!-- Employee Last Name -->
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Last Name"
			  [(ngModel)]="data.last_name" name="last_name"
			  #last_name="ngModel"
              required
            />
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <!-- Employee TZ ID -->
          <mat-form-field class="example-full-width">
            <input
              matInput
              type="number"
              placeholder="ID"
			  [(ngModel)]="data.tz_id" name="tz_id"
			  #tz_id="ngModel"
              required
            />
          </mat-form-field>
        </td>
        <td>
          <!-- Employee Experience -->
          <mat-form-field appearance="legacy" class="example-full-width">
            <mat-label>Experience Years</mat-label>
            <input
              type="number"
              matInput
              placeholder="0"
			  [(ngModel)]="data.experience" name="experience"
			  #experience="ngModel"
            />
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <!-- Employee TZ ID -->
          <!-- Employee Company Name -->
          <mat-form-field class="example-full-width">
            <mat-label>Company</mat-label>
			<mat-select
			
			[(ngModel)]="data.company" name="company"
			#company="ngModel"
			 required>
              <mat-option
                *ngFor="let company of companies"
                [value]="company.toLowerCase()"
              >
                {{ company }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <!-- Employee Company Role -->
          <mat-form-field class="example-full-width">
            <mat-label>Role</mat-label>
			<mat-select 
			
			[(ngModel)]="data.role" name="role"
			#role="ngModel" required>
              <mat-option
                *ngFor="let role of roles"
                [value]="role.toLowerCase()"
              >
                {{ role }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="example-full-width manager" cellspacing="0">
      <tr>
        <td>
          <!-- Employee Manager -->
		  <mat-slide-toggle
		  
			[(ngModel)]="data.manager" name="manager"
			#manager="ngModel"
			
			checked="{{ data.manager }}"
            >Manager?</mat-slide-toggle
          >
        </td>
      </tr>
    </table>
	<button type="submit" class="btn btn-success"  mat-stroked-button
	color="primary"
	[mat-dialog-close]="true"
	[disabled]="!employeeForm.form.valid">OK!</button>
	<button mat-stroked-button mat-dialog-close>Cancel</button>
  </form>
</div>
<div mat-dialog-content *ngIf="data.action === 'Delete'">
  <p>
    Are you sure you want to {{ data.action }}
    <span class="bold upperCaseFirstLetter"
      >{{ data.first_name }} {{ data.last_name }}</span
    >
    Employee?
  </p>
  <button
    mat-stroked-button
    color="primary"
    [mat-dialog-close]="true"
    (click)="deleteEmployee(data._id)"
  >
    Yes!
  </button>
  <button mat-stroked-button mat-dialog-close>No!</button>
</div>
