<h1 mat-dialog-title>{{ data.action }} Employee</h1>

<div mat-dialog-content *ngIf="data.action === 'Add' || data.action === 'Edit'">
  <form class="example-form">
    <!-- Employee Name -->
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="First Name"
        value="{{ data.first_name }}"
        #first_name
      />
    </mat-form-field>
    <!-- Employee Last Name -->
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Last Name"
        value="{{ data.last_name }}"
        #last_name
      />
    </mat-form-field>
    <!-- Employee TZ ID -->
    <mat-form-field class="example-full-width">
      <input
        matInput
        type="number"
        placeholder="ID"
        value="{{ data.tz_id }}"
        #tz_id
      />
    </mat-form-field>

    <!-- Employee Manager -->
    <mat-slide-toggle #manager>Manager?</mat-slide-toggle>

    <!-- Employee Experience -->
    <mat-form-field appearance="legacy" class="example-full-width">
      <mat-label>Experience Years</mat-label>
      <input type="number" matInput placeholder="0" #experience />
    </mat-form-field>

    <!-- Employee Company Name -->
    <mat-form-field class="example-full-width">
      <mat-label>Company</mat-label>
      <mat-select #company>
        <mat-option
          *ngFor="let company of companies"
          [value]="company.name"
        >
          {{ company.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>
  <button
  mat-stroked-button color="primary"
    [mat-dialog-close]="true"
    (click)="data.action === 'Add' ? 
        AddEmployee(first_name.value, last_name.value,tz_id.value, manager.checked,experience.value, company.value) : 
        EditEmployee(first_name.value, last_name.value,tz_id.value, manager.checked,experience.value, company.value)"
  >
    OK!
  </button>
  <button mat-stroked-button  mat-dialog-close>Cancel</button>

</div>
<div mat-dialog-content *ngIf="data.action === 'DeleteEmployee'">
  <p>
    Are you sure you want to {{ data.action }}
    <span class="bold">{{ data.name }}</span> company?
  </p>
  <button
  mat-stroked-button color="primary"
    
    [mat-dialog-close]="true"
    (click)="deleteEmployee(data.id)"
  >
    Yes!
  </button>
  <button mat-stroked-button  mat-dialog-close>No!</button>
</div>
